* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  font-family: Hack, monospace;
}

.info {
  color: #727272;
  text-align: center;
}

#mainWord {
  margin: 16px;
  font-size: 96px;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 1s ease-in-out;
  position: relative;
  background: -webkit-linear-gradient(rgb(116, 113, 241), rgb(241, 130, 130));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  margin: 25px;
  background: #f9f9f9;
  padding: 16px;
}

.menuItems {
  list-style: none;
  display: flex;
}

li {
  margin: 50px;
}

a {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 24px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;
  padding: 10px;
}

.tooltip{
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  font-size: 14px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.auto_typed{
  font-size: 30px;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 1s ease-in-out;
  position: relative;
  background: -webkit-linear-gradient(rgb(194, 233, 19), rgb(240, 14, 14));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}